<div class="shadow-lg p-3 mb-5 bg-white rounded box-shadow">
  <h4>Más Información</h4>
  <ul>
    <li>
      <a href="https://definicion.de/quimica/" target="_blank" rel="noopener noreferrer">Definciones de la Química</a>
    </li>
    <li>
      <a href="https://deconceptos.com/ciencias-naturales/quimica" target="_blank" rel="noopener noreferrer">Ciencias Naturales y la Química</a>
    </li>
    <li>
      <a href="https://conceptodefinicion.de/quimica/" target="_blank" rel="noopener noreferrer">Química efinición</a>
    </li>
    <li>
      <a href="https://www.monografias.com/trabajos104/profundizando-area-quimica/profundizando-area-quimica.shtml" target="_blank" rel="noopener noreferrer">Profundizando en Area a la Química</a>
    </li>
    <li>
      <a href="https://es.slideshare.net/AlessandraVasquez3/la-quimica-en-diferentes-areas" target="_blank" rel="noopener noreferrer">La Química y direfentes areas</a>
    </li>
  </ul>
  <div class="d-flex justify-content-center">
    <img src="https://previews.123rf.com/images/grgroup/grgroup1706/grgroup170600455/79579809-boceto-silueta-de-la-escena-qu%C3%ADmico-laboratorio-con-un-experimento-en-proceso-ilustraci%C3%B3n-vectorial.jpg" alt="" width="200" height="200">
  </div>
</div>