<!-- Google font -->
<link href="https://fonts.googleapis.com/css?family=Cabin:400,700" rel="stylesheet">

<div id="notfound">
	<div class="notfound">
		<div class="notfound-404">
			<div></div>
			<h1>404</h1>
		</div>
		<!-- <h2>Page not found</h2> -->
    <h2>PÁGINA NO ENCONTRADA</h2>
		<!-- <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p> -->
    <p>Es posible que la página que busca haya sido eliminada si su nombre ha cambiado o no está disponible temporalmente.</p>
		<!-- <a href="#">home page</a> -->
    <a href="#">página de inicio</a>
	</div>
</div>
