
.login-register {
  background-image: url('/assets/images/background/back-login-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 3% 0;
  position: fixed;
 }

 .login-register-ex {
  background-image: url('/assets/images/background/back-login-3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 10% 0; /*<-- cambia*/
  position: fixed;
 }

.login-box {
  width: 380px;
  margin: 0 auto;
  /* border: 2px; */
  border-width: 2px;
  border-style: solid;
  border-radius: 5%;
}
.login-box .footer {
  width: 100%;
  left: 0px;
  right: 0px; 
}

.login-box .social {
  display: block;
  margin-bottom: 30px; 
}

#recoverform {
  display: none; 
}

.login-sidebar {
  padding: 0px;
  margin-top: 0px; 
}
.login-sidebar .login-box {
  right: 0px;
  position: absolute;
  height: 100%; 
}
