<div class="shadow-lg p-3 mb-5 bg-white rounded box-shadow">
  <h2>Aspectos Generales de la Química</h2>
  <hr>
  <h3>Definición</h3>
  <p>
    La química es la rama de la ciencia que estudia las características y composición
    de todos los materiales, as! como los cambios que éstos sufren. (cada sustancia
    química tiene características específicas. (cuando ocurre un cambio químico, las
    sustancias que se producen son muy diferentes de los materiales iniciales.
  </p>
  <div class="d-flex justify-content-center">

    <img src="http://files.definicion-de-materia-quimica.webnode.es/200000000-2b3162c2b7/50000000.jpg?ph=a960b833e5" alt="imagen de la definición de la quimica" width="400" height="100" text-align="center">
  </div>

  <hr>

  <h3>Áreas de la Química</h3>
  <ul>
    <li>
      <strong>Química General</strong> Estudia las propiedades comunes de todos los cuerpos y las leyes alas que están sometidos los cambios que en ella se efectúan.
    </li>
    <li>
      <strong>Química Aplicada</strong> Estudia las propiedades de cada una de las sustancias en
      particular, desde el punto de vista útil medicinal, agrícola, industrial, etc.
    </li>
    <li>
      <strong>Química Inorgánica</strong> Estudia las sustancias que provienen el reino mineral
    </li>

    <li>
      <strong>Química Orgánica</strong> Estudia principalmente los compuestos que provienen seres
      vivos, animales y vegetales.
    </li>
    <li>
      <strong>Química Industrial</strong> Estudia los métodos de producción de reactivos químicos en
      cantidades elevadas, de la manera económicamente más beneficiosa. En la
      actualidad también intenta aunar sus intereses iniciales, con un baño daño al
      medio ambiente.

    </li>
    <li>
      <strong>Química analítica</strong> estudia los métodos de detección identificación y
      cuantificación determinación0 de una sustancia en una muestra. )e subdivide en
      (cuantitativa y (cualitativa.
    </li>
  </ul>
  <hr>
  <div class="d-flex justify-content-end">
    <button type="button" class="btn btn-primary">Continuar con la lección <i class="fas fa-arrow-right"></i></button>
  </div>
</div>